In [175]:
# import Libraries
import pandas as pd
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns
from xgboost import XGBRegressor
from sklearn.metrics import r2_score
import numpy as np
from sklearn.model_selection import train_test_split, GridSearchCV
import datetime
from sklearn import metrics
from sklearn.ensemble import BaggingRegressor,RandomForestRegressor

In [176]:
# Loading Dataset
function= pd.read_csv ('Function.csv')
Main_dataset= pd.read_csv ('Main_dataset.csv')
PartTime= pd.read_csv ('PartTime.csv')

#### Merge all three tables

In [192]:
df=pd.merge(Main_dataset,function,on="Person_ID",how="inner")
df=pd.merge(df,PartTime,on="Person_ID",how="inner")
df.head()

,Person_ID,Gender,Age,LengthOfService,Admin Role,International Assignee,Is Mobile,YearlyPay,Function,PartTime
0,0,woman,38.820262,8.012028,0,0,0,71933.63763,Finance,PartTime
1,1,woman,32.000786,9.505542,0,0,0,110599.73950,Finance,FullTime
2,2,woman,34.893690,8.464881,0,0,1,152840.31170,IT,FullTime
3,3,woman,41.204466,9.183001,0,0,"""0""",122468.96600,Finance,FullTime
4,4,woman,39.337790,5.957711,0,0,0,123796.48750,IT,FullTime

In [ ]:
# from pandas_profiling import ProfileReport
# prof = ProfileReport(df)
# prof

### 1.Verifying whether there is Gender Pay Gap in industry wise

In [193]:
df['Function'].value_counts()

Function
IT              8340
Supply Chain    6911
Finance         2749
Name: count, dtype: int64

In [179]:
# average pay gap by industry
def avg_pay_gap(industry):
    man_count=df[(df['Gender']=="man") & (df["Function"]==industry)]["Person_ID"].count()
    woman_count=df[(df['Gender']=="woman") & (df["Function"]==industry)]["Person_ID"].count()
    man_avg_pay=df[(df['Gender']=='man') & (df["Function"]==industry)]['YearlyPay'].sum()/man_count
    print("man",man_count)
    print("Woman",woman_count)
    woman_avg_pay=df[(df['Gender']=='woman')& (df["Function"]==industry) ]['YearlyPay'].sum()/woman_count
    gender_pay_gap=((man_avg_pay-woman_avg_pay)/man_avg_pay)*100
    return gender_pay_gap

In [180]:
avg_pay_gap_IT=avg_pay_gap("IT")
avg_pay_gap_Finance=avg_pay_gap("Finance")
avg_pay_gap_Supply_chain=avg_pay_gap("Supply Chain")
print("Average pay gap in IT Function :",avg_pay_gap_IT)
print("Average pay gap in Finance function :",avg_pay_gap_Finance)
print("Average pay gap in supply chain function :",avg_pay_gap_Supply_chain)

man 2338
Woman 6002
man 765
Woman 1984
man 4897
Woman 2014
Average pay gap in IT Function : 37.76979455301573
Average pay gap in Finance function : 48.995657418328186
Average pay gap in supply chain function : 26.01553114631442

#### avg pay gap between gender considering the admin role as well

In [188]:
# avg paygap in admin role
def avg_pay_gap_admin(industry,admin):
    man_count=df[(df['Gender']=="man") & (df["Function"]==industry) & (df["Admin Role"]==admin)]["Person_ID"].count()
    woman_count=df[(df['Gender']=="woman") & (df["Function"]==industry)& (df["Admin Role"]==admin)]["Person_ID"].count()
    man_avg_pay=df[(df['Gender']=='man') & (df["Function"]==industry) & (df["Admin Role"]==admin)]['YearlyPay'].sum()/man_count
    woman_avg_pay=df[(df['Gender']=='woman')& (df["Function"]==industry) & (df["Admin Role"]==admin)]['YearlyPay'].sum()/woman_count
    gender_pay_gap=((man_avg_pay-woman_avg_pay)/man_avg_pay)*100
    return gender_pay_gap

In [189]:
print("Admin function level gender pay gap")
avg_pay_gap_IT_admin=avg_pay_gap_admin("IT",1)
avg_pay_gap_Finance_admin=avg_pay_gap_admin("Finance",1)
avg_pay_gap_Supply_chain_admin=avg_pay_gap_admin("Supply Chain",1)
print("Average pay gap in IT Function admin :",avg_pay_gap_IT_admin)
print("Average pay gap in Finance function admin:",avg_pay_gap_Finance_admin)
print("Average pay gap in supply chain function admin:",avg_pay_gap_Supply_chain_admin)
print("\n Non admin function level gender pay gap \n")
avg_pay_gap_IT_notadmin=avg_pay_gap_admin("IT",0)
avg_pay_gap_Finance_notadmin=avg_pay_gap_admin("Finance",0)
avg_pay_gap_Supply_chain_notadmin=avg_pay_gap_admin("Supply Chain",0)
print("Average pay gap in IT Function not admin :",avg_pay_gap_IT_notadmin)
print("Average pay gap in Finance function not admin:",avg_pay_gap_Finance_notadmin)
print("Average pay gap in supply chain function not admin:",avg_pay_gap_Supply_chain_notadmin)

Admin function level gender pay gap
Average pay gap in IT Function admin : 8.710307901974609
Average pay gap in Finance function admin: 31.187453147741206
Average pay gap in supply chain function admin: 2.7698665072200535

 Non admin function level gender pay gap

Average pay gap in IT Function not admin : 34.30880239606328
Average pay gap in Finance function not admin: 46.572629338986
Average pay gap in supply chain function not admin: 24.182621375278995

In [183]:
man_avg_pay=df[df['Gender']=='man']['YearlyPay'].sum()/df[df['Gender']=="man"]["Person_ID"].count()
print(man_avg_pay)
woman_avg_pay=df[df['Gender']=='woman']['YearlyPay'].sum()/df[df['Gender']=="woman"]["Person_ID"].count()
print(woman_avg_pay)
gender_pay_gap=((man_avg_pay-woman_avg_pay)/man_avg_pay)*100
gender_pay_gap

128815.71372979374
96495.18956745102

25.090513592261626

##### This means that,woman are paid 25% less than man. This clearly indicates that there is

### Exploratory Data Analysis

In [184]:
df[['Age','LengthOfService','YearlyPay','Admin Role','International Assignee']].describe().T

,count,mean,std,min,25%,50%,75%,max
Age,18000.0,32.196548,5.572258,11.299497,28.381209,32.143558,35.982193,5.299155e+01
LengthOfService,18000.0,8.878391,2.230466,0.000000,7.374375,8.872595,10.404389,1.760769e+01
YearlyPay,18000.0,110859.866973,150569.913375,27363.696690,73705.313890,90120.110635,118930.279750,3.574693e+06
Admin Role,18000.0,0.171444,0.376907,0.000000,0.000000,0.000000,0.000000,1.000000e+00
International Assignee,18000.0,0.075833,0.264739,0.000000,0.000000,0.000000,0.000000,1.000000e+00

#### Summary of Dataset:
- There are total of 10 columns and 18K rows in the dataset.
- The number of non-null values is 0 i.e. no null value.
- There is no duplicate in the dataset
- The mean and median value of Age is approx. 32 and 36
- The mean and median value of Length of Service is 9

In [194]:
df['Is Mobile'].value_counts()

Is Mobile
0      10872
1       7076
"0"       30
"1"       22
Name: count, dtype: int64

##### there is a discrepancy in Is mobile column

In [195]:
# df["Is Mobile"].astype(str)  
# Replacing "0","1" by 0 and 1
df.loc[(df['Is Mobile'])=="\"0\"", 'Is Mobile']="0"
df.loc[(df['Is Mobile'])=="\"1\"", 'Is Mobile']="1"
df["Is Mobile"].astype(int)
df['Is Mobile'].value_counts()

Is Mobile
0    10902
1     7098
Name: count, dtype: int64